.contact {
    padding: 90px 20px;

    &__title {
        margin-bottom: 84px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 520px));
        align-items: center;
        justify-items: center;
        justify-content: center;
        gap: 30px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__form-wrapper {
        position: relative;
        overflow: hidden;
    }

    &__form-content {
        display: flex;
        gap: 30px;
        flex-direction: column;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }

    &__final-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        position: absolute;
        top: 0;
        right: -1000px;

        img {
            width: 30%;
        }
    }

    &__links {
        display: flex;
        gap: 23px;
        flex-wrap: wrap;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 59px;
        height: 59px;
        background-color: $elements-bg-dark;
        border-radius: 20px;
        transition: 0.3s background-color;

        &:hover {
            background-color: lighten($elements-bg-dark, 8%);
        }

        img {
            width: 60%;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 4px;
    }

    &__input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__input-error {
        display: none;
        color: $error-color-dark;
        padding-left: 10px;
    }

    &__show-error {
        .contact__input-error {
            display: inline;
        }

        .contact__input[type="text"],
        .contact__textarea { 
            box-shadow: 0 0 2px 2px $error-color-dark;
        }
    }

    &__input[type="text"],
    &__textarea {
        background-color: $elements-bg-dark;
        color: lighten($elements-bg-dark, 18%);
        border-radius: 30px;
        border: none;
        font-size: 20px;
        padding: 16px 30px;
        transition: 0.3s box-shadow;

        &::placeholder {
            color: lighten($elements-bg-dark, 15%);
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 2px 2px lighten($elements-bg-dark, 10%);
        }
    }

    &__textarea {
        resize: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__submit {
        padding: 10px;
        background-color: $accent-color-dark;
        color: darken($text-secondary-dark, 5%);
        font-size: $button-text-size;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        transition: 0.3s background-color;

        &:hover {
            background-color: darken($accent-color-dark, 3%);
        }
    }
}