.main {
    padding: 68px 20px 90px 20px;
    overflow: hidden;

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 480px));
        justify-items: center;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    &__content {
        max-width: 100%;
        position: relative;
        left: -1000px;
        opacity: 0;
    }

    &__emoji-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    &__emoji {
        width: 80%;
        position: relative;
        right: -1000px;
    }

    &__title {
        line-height: 45px;
        margin-bottom: 33px;
        text-align: left;
        text-transform: none;

        @include span-accent-bg(-1px);
    }

    &__text {
        margin-bottom: 33px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__button {
        padding: 18px;
        display: flex;
        justify-content: center;
        gap: 14px;
        width: 220px;
        height: 70px;
        font-size: $button-text-size;
        line-height: 18px;
        background-color: $accent-color-dark;
        border-radius: 100px;
        border: 5px solid $accent-color-dark;
        color: darken($text-primary-dark, 10%);
        text-decoration: none;
        transition-duration: 0.3s;
        transition-property: background-color, border-color;
        cursor: pointer;

        &:hover {
            background-color: darken($accent-color-dark, 3%);
            border-color: darken($accent-color-dark, 3%);
        }

        &:last-of-type {
            background-color: transparent;
        }

        img {
            margin-top: -2px;
            width: 28px;
            height: 28px;
        }
    }
}