.main {
    padding: 90px 20px 90px 20px;

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 1fr);
        justify-items: center;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    &__content {
        // min-width: 0px;
        // max-width: 200px;
    }

    &__title {
        font-size: 48px;
        color: $text-primary-dark;
        line-height: 60px;
        margin-bottom: 33px;
        font-weight: medium;

        @include span-accent-bg(-3px);
    }

    &__text {
        margin-bottom: 33px;
    }

    &__buttons {
        display: flex;
        gap: 48px;
    }

    &__button {
        padding: 18px;
        display: flex;
        justify-content: center;
        gap: 14px;
        min-width: 230px;
        height: 70px;
        font-size: 30px;
        line-height: 18px;
        background-color: $accent-color-dark;
        border-radius: 100px;
        border: 5px solid $accent-color-dark;
        color: darken($text-primary-dark, 10%);
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background-color: darken($accent-color-dark, 3%);
            border-color: darken($accent-color-dark, 3%);
        }

        &:last-of-type {
            min-width: 250px;
            background-color: transparent;
        }

        img {
            margin-top: -2px;
        }
    }
}