* {
    font-family: 'Source Code Pro', monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bg-primary-dark;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $elements-bg-dark;
}

::-webkit-scrollbar-thumb {
    background: lighten($elements-bg-dark, 10%);
}

::-webkit-scrollbar-thumb:hover {
    background: lighten($elements-bg-dark, 15%);
}

.tippy-box {
    padding: 10px;
    font-size: 16px;
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    text-align: center;
    color: $text-primary-dark;
    background-color: lighten(rgba($elements-bg-dark, 0.3), 10%);
}