@mixin span-accent-bg($left: -1.6%, $accent-color: $accent-color-dark) {
    span {
        display: inline-block;
        position: relative;
        z-index: 99;
    }

    span::after {
        content: "";
        width: 103%;
        height: 50%;
        background-color: $accent-color;
        position: absolute;
        left: $left;
        top: 50%;
        z-index: -1;
    }
}