.section-title {
    font-weight: 600;
    font-size: $title-size;
    text-transform: uppercase;
    text-align: center;
    color: $text-primary-dark;

    @include span-accent-bg;
}

.text {
    font-size: $text-size;
    line-height: 30px;
    color: $text-secondary-dark;
}