.container {
    max-width: 1120px;
    margin: 0 auto;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
    padding: 10px;
    color: $text-primary-dark;
    background-color: lighten(rgba($elements-bg-dark, 0.3), 10%);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
}