// dark mode variables

$bg-primary-dark: #131313;
$bg-secondary-dark: #0E0E0E;

$text-primary-dark: #fff;
$text-secondary-dark: #E4E4E4;

$elements-bg-dark: #252525;

$accent-color-dark: #33184C;

// light mode variables

$bg-primary-light: #e8e8e8;
$bg-secondary-light: #E2E2E2;

$text-primary-light: #292929;
$text-secondary-light: #363636;

$elements-bg-light: #999999;

$accent-color-light: #FC815F;

// font variables

$title-size: 40px;
$text-size: 20px;
$button-text-size: 25px;
